{
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.js", "*.cjs", "*.mjs", "*.ts", "*.tsx", "*.cts", "*.mts"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "editor": "// Please manually format multiline strings within arrays/objects for better readability"
}
