.leftsidecontainer {
    margin: 0px;
    padding: 30px 15px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: start;
    background-color: rgba(255, 255, 255, 0);
}

.bodycontainer {
    grid-auto-flow: row;
    display: flex;
    bottom: 50%;
    margin: 3% 0px 0em;
    padding: 0px 0px 0em;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    align-content: center;
}

.footercontainer {
    padding: 0px;
    display: flex;
    top: 75%;
    left: 5%;
    margin: 15% 5% 0px 0%;
    flex-direction: row;
    justify-content: end;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.inputcontainer {
    gap: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: start;
}

.maintitlecontainer {
    position: relative;
    display: inline-block;
    margin-right: 60%;
    margin-bottom: 15px;
}

.recipecontainer {
    padding: 10px;
    left: 45%;
    margin: 50px;
    display: grid;
    height: 400px;
    width: 400px;
}

.paginationcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.exitcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2px;
    margin-bottom: 20px;
}

.warning {
    right: 22%;
    bottom: 49%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 610px;
}

.container {
    background: repeat padding-box border-box 0% 0% / auto auto scroll linear-gradient(180deg, rgba(255, 255, 255, 0) 18%, #ffffff 100%), no-repeat padding-box border-box 43% 68% / cover scroll url(/dist/assets/IMG_2722-91ee238e.JPG);
    opacity: 1;
    margin: 0px;
    padding: 30px;
    overflow: auto;
    width: 100%;

}

.rigthsidecontainer {
    opacity: 0.8;
    margin: 60px 0px 0px;
    height: 550px;
}

.dummydiv {
    width: 500px;
    height: 500px;
}


