.bodycontainer {
  padding: 30px 15px 0px;
  display: flex;
  justify-content: space-around;
}

.leftsidecontainer {
  bottom: 50%;
  margin: 3%;
}

.footercontainer {
  display: flex;

  margin: 15% 5% 0px 0%;

  justify-content: end;
}

.recipecontainer {
  padding: 10px;
  left: 45%;
  margin: 50px;
  display: grid;
  height: 400px;
  width: 400px;
}

.paginationcontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.exitcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  margin-bottom: 20px;
}

.warning {
  right: 22%;
  bottom: 49%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 610px;
}

.container {
  background: repeat padding-box border-box 0% 0% / auto auto scroll
      linear-gradient(180deg, rgba(255, 255, 255, 0) 18%, #ffffff 100%),
    no-repeat padding-box border-box 43% 68% / cover scroll url('../assets/images/IMG_2722.JPG');
  opacity: 1;
  padding: 30px;
  overflow: auto;
  width: 100%;
}

.rigthsidecontainer {
  opacity: 0.8;
  margin: 60px 0px 0px;
  height: 550px;
}

.dummydiv {
  width: 500px;
  height: 500px;
}
